:root {
	--primary-bg-color: linear-gradient(-45deg, #23a6d5, #23d5ab);
	--darken-bg-color: linear-gradient(-45deg, #343535, #0d3d4f, #0e5d4a);;

	--button-text-font: 16px/1.5 'HelveticaNeue-Roman', sans-serif;
}