:root {
	--primary-bg-color: linear-gradient(-45deg, #2483a6, #1c9276);
	--darken-bg-color: linear-gradient(-45deg, #343535, #0d3d4f, #0e5d4a);

	--button-text-font: 14px/1.5 'HelveticaNeue-Roman', sans-serif;
}
