:root {
	--primary-bg-color: linear-gradient(-45deg, #2483a6, #1c9276);
	--darken-bg-color: linear-gradient(-45deg, #343535, #0d3d4f, #0e5d4a);

	--primary-btn-bg-color: #54d8f6a6;
	--darken-btn-bg-color: #0E4A4D;
}
